<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async>
		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	{% load static %}

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'scripts/init.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/latex.js' %}"></script>
</head>
<body onload="initAlt('algebra-menu')" id="body">
	<div class="main">
		{% include "header.html" %}
		{% include "menu.html" %}
		<div class="main-section">
			<h2>Algebra</h2>
			<p>
				See the following:
			</p>

			<ul>
				<li><a href="/algebra/equations">Equations</a></li>
			</ul>
		</div>
		<div style="clear:both;">
		</div>
	</div>
	<br />
	<br />
</body>
</html>
