<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async>
		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	{% load static %}

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'scripts/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/latex.js' %}"></script>
</head>
<body onload="initAlt('matrix-info-menu'); document.getElementById('linear-algebra-menu').nextElementSibling.style.display = 'block'; document.getElementById('matrix-info-menu').style.color = '#ffffff'; document.getElementById('matrix-inverse-menu').style.color = '#fff000'; " id="body">
	<div class="main">
		{% include "header.html" %}
		{% include "menu.html" %}
		<div class="main-section">
			<h2>Inverse</h2>
			<form class="equation-form" method="post">{% csrf_token %}
				{{ form.as_p }}

				<div class="container">
						<div class="container">
							<span>Enter the number of rows (max 5):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
							<textarea class="container-field" id="num-rows-1" oninput="updateRows(this)"></textarea>
							<span id="row-error"></span>
						</div>
						<div class="container">
							<span>Enter the number of columns (max 5):&nbsp; </span>
							<textarea class="container-field" id="num-cols-1" oninput="updateRows(this)"></textarea>
							<span id="col-error"></span>
						</div>
				</div>
				<br style="clear:both;"/>
				
				<div class="matrices-container" oninput="updateBothMatrices('RREF')">
				<table class="matrix" id="matrix-1" style="float:none;">
					<tr class="row">
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
					</tr>
					<tr class="row">
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
					</tr>
					<tr class="row">
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
						<td class="column"><textarea></textarea></td>
					</tr>
				</table>
				</div>
				<br style="clear:both;"/>
				<input class="equation-submit-button" type="submit" value="Submit">
            </form>
            <div id="equation-display">{{ formattedEquation }}</div>
		</div>
		<div style="clear:both;">
		</div>
	</div>
	<br />
	<br />
</body>
</html>
