<div class="side-menu">
	<h2>Topics</h2>
	<nav>
		<ul>
			<li><div class="dropdown">&rsaquo;</div><a id="algebra-menu" href="/algebra"> Algebra</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="equations-menu" href="/algebra/equations">Equations</a>
						<ul>
							<li><a id="equations-solve-menu" href="/algebra/equations/solve-equation">Solve Equation/Inequality</a></li>
							<li><a id="systems-menu" href="/algebra/equations/system">Solve System of Equations</a></li>
							<li><a id="expressions-menu" href="/algebra/equations/evaluate-expression">Solve Arithmetic Expression</a></li>
						</ul>
					</li>
					<li><a id="slope-menu" href="/algebra/slope">Find Slope, y-offset, x-offset</a></li>
					<li><a id="graph-menu" href="/algebra/graph">Graph Equations</a></li>
					<li><a id="composition-menu" href="/algebra/function-composition">Function Composition</a></li>
					<li><a id="partial-fractions-menu" href="/algebra/partial-fractions">Partial Fraction Decomposition</a></li>
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="calculus-menu" href="/calculus">Calculus</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="derivatives-menu" href="/calculus/derivatives">Derivatives</a>
						<ul>
							<li><a id="derivatives-standard-menu" href="/calculus/derivatives/standard">Standard Derivatives</a></li>
							<li><a id="derivatives-partial-menu" href="/calculus/derivatives/partial">Partial Derivatives</a></li>
						</ul>
					</li>
					<li><div class="dropdown">&rsaquo;</div><a id="integrals-menu" href="/calculus/integrals">Integrals</a>
						<ul>
							<li><a id="integrals-indefinite-menu" href="/calculus/integrals/indefinite">Indefinite Integrals</a></li>
							<li><a id="integrals-definite-menu" href="/calculus/integrals/definite">Definite Integrals</a></li>
						</ul>
					</li>
					<li><div class="dropdown">&rsaquo;</div><a id="graphical-menu" href="/calculus/graphical">Graphical Information</a>
						<ul>
							<li><a id="arc-length-menu" href="/calculus/graphical/arc-length">Arc Length</a></li>
							<li><a id="tangent-line-menu" href="/calculus/graphical/tangent-line">Tangent Line</a></li>
							<li><a id="critical-points-menu" href="/calculus/graphical/critical-points">Critical Points and Min/Max Values</a></li>
						</ul>
					</li>
					<li><a id="limits-menu" href="/calculus/limits">Limits</a></li>							
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="ODE-menu" href="/ordinary-differential-equation"> Ordinary Differential Equations</a>
				<ul>
					<li><a id="first-order-menu" href="/ordinary-differential-equation/first-order">First Order</a>
					</li>
					<li><div class="dropdown">&rsaquo;</div><a href="/ordinary-differential-equation/second-order">Second Order</a>
						<ul>
							<li><a href="/ordinary-differential-equation/second-order/homgenous">Homogenous</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="linear-algebra-menu" href="/linear-algebra"> Linear Algebra</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="matrix-ops-menu" href="/linear-algebra/matrix-on-matrix">Matrix On Matrix Operations</a>
					<ul>
						<li><a id="matrix-multiplication-menu" href="/linear-algebra/matrix-on-matrix/multiplication">Matrix Multiplication</a></li>
						<li><a id="matrix-addition-menu" href="/linear-algebra/matrix-on-matrix/addition">Matrix Addition / Subtraction</a></li>
						<li><a href="/linear-algebra/matrix-on-matrix/matrix-equation">Matrix Equation (Ax = b)</a></li>
					</ul>
					</li>
					<li><a href="/linear-algebra/system">System of Linear Equations</a></li>
					<li><div class="dropdown">&rsaquo;</div><a href="/linear-algebra/matrix-info">Matrix Info</a>
					<ul>
						<li><a href="/linear-algebra/matrix-info/reduced-row-echelon-form">Convert To Reduced Row Echelon Form</a></li>
						<li><a href="/linear-algebra/matrix-info/determinant">Determinant</a></li>
						<li><a href="/linear-algebra/matrix-info/transpose">Transpose</a></li>
						<li><a href="/linear-algebra/matrix-info/inverse">Inverse</a></li>
						<li><a href="/linear-algebra/matrix-info/linear-independence">Linear Independence</a></li>
					</ul>
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="geometry-menu" href="/geometry"> Geometry</a>
				<ul>
					<li><a id="area-menu" href="/geometry/area">Area</a></li>
					<li><a id="perimeter-menu" href="/geometry/perimeter">Perimeter</a></li>
					<li><div class="dropdown">&rsaquo;</div><a href="#">Triangles</a>
						<ul>
							<li><a href="#">Solve For Missing Side Length</a></li>
							<li><a href="#">Solve For Missing Angle</a></li>
							<li><a href="#">Compare 2 Triangles</a></li>
						</ul>
					</li>
					<li><a href="#">Arc Length of Circle</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
