<div class="side-menu">
	<h2>Topics</h2>
	<nav>
		<ul>
			<li><div class="dropdown">&rsaquo;</div><a id="algebra-menu" href="/algebra"> Algebra</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="equations-menu" href="/algebra/equations">Equations</a>
						<ul>
							<li><a id="equations-solve-menu" href="/algebra/equations/solve-equation">Solve Equation/Inequality</a></li>
							<li><a id="systems-menu" href="/algebra/equations/system">Solve System of Equations</a></li>
							<li><a id="expressions-menu" href="/algebra/equations/evaluate-expression">Solve Arithmetic Expression</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="calculus-menu" href="/calculus">Calculus</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="derivatives-menu" href="/calculus/derivatives">Derivatives</a>
						<ul>
							<li><a id="derivatives-standard-menu" href="/calculus/derivatives/standard">Standard Derivatives</a></li>
						</ul>
					</li>
					<li><div class="dropdown">&rsaquo;</div><a id="integrals-menu" href="/calculus/integrals">Integrals</a>
						<ul>
							<li><a id="integrals-indefinite-menu" href="/calculus/integrals/indefinite">Indefinite Integrals</a></li>
							<li><a id="integrals-definite-menu" href="/calculus/integrals/definite">Definite Integrals</a></li>
						</ul>
					</li>						
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="ODE-menu" href="/ordinary-differential-equation"> Ordinary Differential Equations</a>
				<ul>
					<li><a id="first-order-menu" href="/ordinary-differential-equation/first-order">First Order</a>
					</li>
				</ul>
			</li>
			<li><div class="dropdown">&rsaquo;</div><a id="linear-algebra-menu" href="/linear-algebra"> Linear Algebra</a>
				<ul>
					<li><div class="dropdown">&rsaquo;</div><a id="matrix-ops-menu" href="/linear-algebra/matrix-on-matrix">Matrix On Matrix Operations</a>
					<ul>
						<li><a id="matrix-multiplication-menu" href="/linear-algebra/matrix-on-matrix/multiplication">Matrix Multiplication</a></li>
						<li><a id="matrix-addition-menu" href="/linear-algebra/matrix-on-matrix/addition">Matrix Addition / Subtraction</a></li>
					</ul>
					</li>
					<li><div class="dropdown">&rsaquo;</div><a id="matrix-info-menu" href="/linear-algebra/matrix-info">Matrix Info</a>
					<ul>
						<li><a id="matrix-RREF-menu" href="/linear-algebra/matrix-info/reduced-row-echelon-form">Convert To Reduced Row Echelon Form</a></li>
						<li><a id="matrix-determinant-menu" href="/linear-algebra/matrix-info/determinant">Determinant</a></li>
						<li><a id="matrix-transpose-menu" href="/linear-algebra/matrix-info/transpose">Transpose</a></li>
						<li><a id="matrix-inverse-menu" href="/linear-algebra/matrix-info/inverse">Inverse</a></li>
						<li><a id="matrix-eigenvalues-menu" href="/linear-algebra/matrix-info/eigenvalues">Eigenvalues</a></li>
					</ul>
				</ul>
			</li>
		</ul>
	</nav>
</div>