<div class="symbol-container">
    <div class="symbol-row">				
        <div onclick="insertSymbol(this.id)" id="pi" class="symbol-item">π</div>					
        <div onclick="insertSymbol(this.id)" id="lteq" class="symbol-item">≤</div>					
        <div onclick="insertSymbol(this.id)" id="gteq" class="symbol-item">≥</div>				
        <div onclick="insertSymbol(this.id)" id="frac" class="symbol-item"><div class="fraction">
                <div class="numerator">a</div>
                <div class="denominator">b</div>
            </div></div>
    </div>
</div>